@model Domain.Entities.Track



           

@*@Html.DisplayFor(model => model) 
WORKS IN MVC 4 CANNOT BE NESTED IN MVC3  *@ 

@Html.Partial("DisplayTemplates/Track")

<td>
    @using (Html.BeginForm())
    {
        <input type="submit" value="Up"/>
    }
</td>

<td>
    @using (Html.BeginForm())
    {
        <input type="submit" value="Down"/>
    }
</td>
<td>
    @using (Html.BeginForm())
    {
        <input type="submit" value="Delete"/>
    }
</td>