@using Domain.Entities
@model IEnumerable<Domain.Entities.Playlist>

@{
    ViewBag.Title = "Playlists";
}

<h2>Playlists</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
    </tr>

    @foreach (Playlist item in Model)
    {
        <tr>
            <td>
                
                @Html.ActionLink(
                    Html.DisplayFor(modelItem => item.Name).ToHtmlString(),
                    "Details",
                    new {id = item.Id}
                     )
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
        </tr>
    }

</table>