@using Dto
@model IEnumerable<Dto.PlaylistDto>

@{
    ViewBag.Title = "Playlists";
}

<h2>Playlists</h2>

<!--
    <p>
        @Html.ActionLink("Playlists From Others", "PermittedPlaylists", "Playlist")
    </p>
    -->

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                
                @Html.ActionLink(
                    Html.DisplayFor(modelItem => item.Name).ToHtmlString(),
                    "Details",
                    new {playlistId = item.Id}
                     )
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
        </tr>
    }

</table>