@{
    ViewBag.Title = "About Us";
}

<a href="http://www.isel.pt"><img alt="" src="@Url.Content("~/Content/themes/base/images/iselPreto.gif")" width="300" height="200" /></a>

SpotiChelas ISEL PI51N

