@{
    ViewBag.Title = "Home Page";
}

<h1> Welcome to SpotiChelas!</h1>
<h2> The best playlist managing website.</h2>
<img src ="@Url.Content("~/Content/themes/base/images/ipod_people_blue.gif")"  width="300" height="300"/>
<img src ="@Url.Content("~/Content/themes/base/images/ipod-girl-1-music.gif")" width="300" height="300" />