@{
    ViewBag.Title = "Home Page";
}

<h1> Welcome to SpotiChelas!</h1>
<h3> The best playlist managing website.</h3>
<img src ="@Url.Content("~/Content/themes/base/images/ipod_people_blue.gif")"  width="400" height="400"/>
<img src ="@Url.Content("~/Content/themes/base/images/ipod-girl-1-music.gif")" width="400" height="400" />