@model IEnumerable<MembershipUser>

@{
    ViewBag.Title = "Manage UserServices";
}

<h2>Manage UserServices</h2>


<table>

    @foreach (MembershipUser user in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(users => user.UserName)
            </td>
            <td>
                @using (Html.BeginForm("AddRole", "Account"))
                {
                    @Html.Hidden("username", user.UserName)
                    @Html.DropDownList("newRole", new SelectList(Roles.GetAllRoles()))
                    <input type="submit" value="Add Role"/>
                }
            </td>
            <td>
                @using (Html.BeginForm("DeleteUser", "Account"))
                {
                    @Html.Hidden("username", user.UserName)
                    <input type="submit" value="Delete UserService"/>
                }
            </td>

        </tr>
    }
    
</table>